.portofolio {
  background-color: var(--backgound-color);
  padding-top: 94px;
  display: flex;
}

.portofolio-class .images-class {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  row-gap: 30px;
  margin: 94px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.images-class li {
  background: var(--backgound-color);
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
