:root {
  --link-color: #212121;
  --p-color: #757575;
  --text-color: #2196f3;
  --backgound-color: #ffffff;
  --background-color-svg: #f5f4fa;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --icon-background-color: #f5f4fa;
  --list-svg-color: #ffffff1a;
  --input-color: #2f303a;
}
